

#detalle {
    height: 38rem;
    width: 25rem;
    margin: auto;
  
    color: white;
    text-align: justify;
   background-color: black;
}

#fotitod{
    border-radius: 10px;
    height: 200px;
    width: 350px;
    margin-left: 15px;
   
}


.itemCart1{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: auto;
    width: 200vh;
    border-style:solid ; 
    border-radius: 10px;
    
  

   

}



.elementDetail{
   
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    list-style: none;
   
    width: 500px;

  
}

.titleDetail{
    font-size: 20px;
    margin-top: 10px;
    
    margin-bottom: 3px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}
.cont{
    margin-left: 0;
}