@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.init{
    text-align: center;
    padding: 30px;
}

h1{
    color: white;
    font-size: 60px;
    margin-bottom: 10%;
    font-family: 'Bebas Neue', cursive;
}

.goinit{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;

   
    
}
.goinit:hover{
    color: #88C347;
    transition: .5;
}