#carro {
    height: 8vh;
    margin-top: 0;
   
}

.carrocontador {
    
    position: absolute;
   z-index: 2;
   margin-top: 10px;
   margin-left: 90%;
   
}
.carrocontador span {
    color: white;
    margin-left: 10px;
}
