@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.tituloP{
    font-size: 70px;
   color: white;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
    font-family: 'Silkscreen', cursive;
  
}

.spinner{
  margin-left:46%;
  margin-top:13%;
}

