@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.tituloP{
    font-size: 100px;
   color: white;
    text-align: center;
    padding-top: 1%;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
  
}

.spinner{
  margin-left:46%;
  margin-top:13%;
}
