h1 {
    font-family: 'Bebas Neue';
    font-size: 45px;
    text-align: center;
    
}

h3 {
    font-family: 'Bebas Neue';
    font-size: 25px;
    text-align: start;
    margin-left: 32px;
}

.myForm {
    

    margin: auto;
    display: flex;
    margin-left: 20px;
    

}
.break{
    text-align: justify;
}

.myForm1 {
    margin-bottom: 30px;
    text-align: start;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 25px;
    width: 100vh;
    margin-top: 3%;
    
  
   
}


.myFormli {
    
    text-align: start;
    margin-top: 10px;
    list-style: none;
    
}


.myFormbutton {
    margin-right: 15px;
   margin-top: 34%;

    border-radius: 10px;
   
 
    width: 330px;
    height: 50px;
    background-color: green;
    color: white;
    border-style: none;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    
   
}