#contador{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
   
}

#numero {
    color:#71C40A;
    
    margin-top: 2%;
}


#button:hover{
    color: black;
    background-color:#71C40A ;
    transition: 1;
}


#button1:hover{
    color: black;
    background-color:red;
    transition: 1;
}

#button1{
    margin-top: 3px;
}