#contador{
    
    display: flex;
    flex-direction: column;
   
  
   
}

#numero {
    color:#71C40A;
    
  
    text-align: center;
}

#button{
    width: 150px;
   margin: auto;
   margin-top: 5px;
   margin-bottom: 5px;
}

#button:hover{
    color: black;
    background-color:#71C40A ;
    transition: 1;
}


#button1:hover{
    color: black;
    background-color:red;
    transition: 1;
}

#button1{
    margin-top: 2px;
    width: 150px;
    margin:auto;
}